<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>
        .left{
            width: 200px;
            height: 600px;
            background: red;
            float: left;/*设置成浮动是为了在同一个行*/
            display: table;
            text-align: center;
            line-height: 600px;
            color: #fff;
        }

        .right{
            margin-left: 210px;
            height: 600px;
            background: yellow;
            text-align: center;
            line-height: 600px;
            min-width: 200px;
        }
    </style>
</head>
<body>
<body>
<div class="left">定宽</div>
<div class="right">自适应</div>
</body>
</body>
</html>