<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>我的</title>

    <link href="../../uclbrt/css/bootstrap.css" rel="stylesheet">
    <link href="../../run/src/PublicPage/center.css" rel="stylesheet">
    <link href="../../run/src/common.css" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="../../jslib/html5shiv/html5shiv.min.js"></script>
    <script src="../../jslib/html5shiv/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="doc" class="container">
    <div id="doc-body">
        <div class="banner-container">
            <a href="/view/PublicPage/index.html" class="back-home"></a>
            <div class="swiper-container"></div>
            <div class="center-login-content">
               <div class="unlisted hidden ">
                   <div class="head-pic"></div>
                   <div class="btn-login">登录/注册</div>
               </div>
               <div class="already-logged hidden">
                   <div class="head-pic">
                       <div class="head-portrait"></div>
                   </div>
                   <div class="mobile"></div>
               </div>
            </div>
        </div>
        <div class="order-content">
            <div class="mine-order">
                <div class="order-left">我的订单</div>
                <div class="right-icon"></div>
                <div class="order-right">查看更多</div>
            </div>
            <div class="nowrap-color"></div>
            <div class="status-content flex-direction-row">
                <div class="status-list flex-1" data-status="0" >
                    <div class="status-icon payment-icon "><div class="num"></div></div>
                    <div class="status-type">待付款</div>
                </div>
                <div class="status-list flex-1" data-status="1">
                    <div class="status-icon shipments-icon "><div class="num"></div></div>
                    <div class="status-type">待发货</div>
                </div>
                <div class="status-list flex-1" data-status="2">
                    <div class="status-icon gathering-icon "><div class="num"></div></div>
                    <div class="status-type">待收货</div>
                </div>
                <div class="status-list flex-1"  data-status="3">
                    <div class="status-icon  aftersale-icon"><div class="num"></div></div>
                    <div class="status-type">退款/售后</div>
                </div>
            </div>

        </div>
        <div class="feature-content">
            <div class="list collect-goods-list">
                <div class="icon collect-goods"></div>
                <div class="list-remark">收藏的商品</div>
                <div class="right-icon"></div>
            </div>
            <div class="list collect-shop-list">
                <div class="icon collect-shop"></div>
                <div class="list-remark">收藏的店铺</div>
                <div class="right-icon"></div>
            </div>
            <div class="list mycart-list border-none" style="border: 0;">
                <div class="icon mycart"></div>
                <div class="list-remark">购物车</div>
                <div class="right-icon"></div>
            </div>
            <div class="nowrap-color"></div>
            <div class="list take-address-list">
                <div class="icon take-address"></div>
                <div class="list-remark">收货地址</div>
                <div class="right-icon"></div>
            </div>
            <div class="list browse-list" style="border: 0;">
                <div class="icon browse"></div>
                <div class="list-remark">浏览记录</div>
                <div class="right-icon"></div>
            </div>
            <div class="nowrap-color" ></div>
            <div class="list openshop-list" style="border: 0;">
                <div class="icon openshop"></div>
                <div class="list-remark">我要开店</div>
                <div class="right-icon"></div>
            </div>

        </div>
        <div class="nowrap-color"></div>
    </div>

</div>
</body>
<script src="../../jslib/jquery/1.11.2/jquery.min.js"></script>
<script src="../../jslib/bookstrap/bootstrap.js"></script>
<script src="/uclbrt/ulite/ulite.js"></script>

<script  type="text/javascript" src="../../run/src/common_zh_cn.js"></script>
<script  type="text/javascript" src="../../run/src/common.js"></script>
<script src="../../run/src/PublicPage/center.js"></script>

</html>