<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .demo{
            width: 600px;
            height: 150px;
            border: 1px solid #b7b2b7;
            margin: 30px auto;
            padding-top: 17px;
            display: flex;                /*设置为flex布局*/
            justify-content: space-around;
        }
        .demo{
            display: flex;
        }
        .item{
            flex: 1;
        }
    </style>
</head>
<body>
<div class="demo">
    <div class="item item1">12</div>
    <div class="item item2">12</div>
    <div class="item item3">12</div>
    <div class="item item4">12</div>
</div>
</body>
</html>