#doc-body .tabs-tab-bar {
  background: #fff;
  height: 0.68rem;
  border: 0;
}
#doc-body .tabs-tab-bar .tabs-tab {
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 13px ;
  text-transform: inherit;
}
#doc-body .tabs.is-upgraded .tabs-tab.is-active:after {
  height: 0;
}
#doc-body .centeral-container {
  top: 1.76rem;
}
#doc-body .order-refresh {
  margin-top: 0.3rem;
}
.store-container {
  background-color: #fff;
  margin-bottom: .2rem;
  font-size: 13px;
  padding: 0 .32rem 0 .32rem;
}
.store-container .store-head {
  height: .68rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: -webkit-box;
  /* 相当于display: flex; 兼容性写法*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.store-container .store-head .store-name {
  height: 0.68rem;
  line-height: 0.68rem;
  background: url(../image/right.png) right center no-repeat;
  padding-right: 0.38rem;
  max-width: 5.4rem;
}
.store-container .store-head .store-status {
  height: 0.68rem;
  line-height: 0.68rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #DF3E0F;
  font-size: 12px ;
}
.store-container .store-goods .store-goods-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 2.1rem;
  border-bottom: 1px solid #ccc ;
  position: relative;
}
.store-container .store-goods .store-goods-list .goods-img-content {
  height: 2.1rem;
  margin-left: 1.6rem;
}
.store-container .store-goods .store-goods-list .goods-img-content .goods-picture {
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 1.57rem;
  width: 1.6rem;
  background: url(../image/shili.png) center no-repeat;
  background-size: 1.6rem 1.57rem;
}
.store-container .store-goods .store-goods-list .goods-img-content .goods-picture .goods-picture-cover {
  width: 100%;
  height: 100%;
  background-size: 100% ;
  background-repeat: no-repeat;
}
.store-container .store-goods .store-goods-list .goods-represent {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1.46rem;
  padding: 0.32rem;
  font-size: 13px;
}
.store-container .store-goods .store-goods-list .goods-represent .represent-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.store-container .store-goods .store-goods-list .goods-represent .represent-top .represent-dec {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 0.68rem;
}
.store-container .store-goods .store-goods-list .goods-represent .represent-top .represent-price {
  height: 0.32rem;
  line-height: 0.32rem;
  padding-left: 0.16rem;
}
.store-container .store-goods .store-goods-list .goods-represent .represent-foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.store-container .store-goods .store-goods-list .goods-represent .represent-foot .represent-model {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 0.38rem;
  line-height: 0.38rem;
  color: #666;
}
.store-container .store-goods .store-goods-list .goods-represent .represent-foot .sum {
  float: right;
  height: 0.38rem;
  line-height: 0.38rem;
}
.store-container .store-foot {
  height: 0.68rem;
  border-bottom: 1px solid #ccc;
}
.store-container .store-foot .store-freight {
  height: 0.68rem;
  line-height: 0.68rem;
  float: right;
}
.store-container .store-foot .store-pay {
  height: 0.68rem;
  line-height: 0.68rem;
  float: right;
  margin-left: 0.4rem;
}
.store-container .store-foot .store-pay .pay {
  color: #df3e0f ;
}
.store-container .store-foot .store-check {
  height: 0.68rem;
  line-height: 0.68rem;
  float: left;
}
.store-container .store-operation {
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 12px;
}
.store-container .store-operation .operation-list {
  height: 0.88rem;
  line-height: 0.88rem;
  width: 1.28rem;
  float: right;
  margin-left: 0.3rem;
  position: relative;
}
.store-container .store-operation .operation-list div {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.22rem;
  width: 1.28rem;
  height: 0.44rem;
  border-radius: 4px ;
  color: #fff;
  line-height: 0.44rem;
  text-align: center;
  background: #DF3E0F;
  cursor: pointer;
}
.store-container .store-operation .operation-list .operation-close,
.store-container .store-operation .operation-list .operation-remind,
.store-container .store-operation .operation-list .operation-check,
.store-container .store-operation .operation-list .operation-contact {
  background: #FF781E;
}
.order-status-content {
  height: .78rem;
  padding: 0 .32rem;
  font-size: 13px;
  background: #fff;
}
.order-status-content .order-status-left {
  line-height: .78rem;
  float: left;
}
.order-status-content .order-status {
  line-height: .78rem;
  float: left;
  color: #df3e0f;
}
.personage-info-content {
  background: #fff;
  padding: .3rem .32rem .18rem .32rem;
  font-size: 13px;
  height: 1.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.personage-info-content .personage-tip,
.personage-info-content .personage-info,
.personage-info-content .personage-address {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.personage-info-content .personage-info .name {
  float: left;
  margin-right: 0.48rem;
}
.personage-info-content .personage-info .number {
  float: left;
}
.store-check-details {
  height: 0.68rem;
  line-height: 0.68rem;
  float: left;
  color: #666;
}
.order-info-content {
  color: #666;
  background: #fff;
  padding: 0.3rem 0 0.18rem 0;
  font-size: 13px ;
  height: 1.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top: 1px solid #ccc ;
}
.order-info-content .order-info-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.order-info-content .order-info-list .order-info-left {
  float: left;
}
.order-info-content .order-info-list .order-info-right {
  float: left;
}
.operation-refund-content,
.operation-service-content {
  position: absolute;
  right: 0.32rem;
  bottom: 0.2rem;
  width: 1.28rem;
  height: 0.44rem;
  line-height: 0.44rem;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background: #DF3E0F;
  cursor: pointer;
  font-size: 12px ;
}
.details-refund {
  background: #FF781E;
}
.details-service {
  background: #FF781E;
}
