@jdred:  #e4393c;
@navbar-height: 50px;

body {
  margin-top: @navbar-height;
  font-family: "Microsoft YaHei";
}

.navbar {
  background: @jdred;
  min-height: @navbar-height;
}
.danger {
  color: @jdred;
}